<i class="fas fa-long-arrow-alt-right"></i>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="card-box">
         <div class="card"></div>
         <div class="card"></div>
          <div class="card"></div>
          <h2>All Dogs</h2>
          <% @dogs.each do |dog| %>
            <div class="card-product">
                  <% dog.photos.each do |photo| %>
              <div class="card-product-infos">
                  <%= cl_image_tag dog.photos.key, height: 150, width: 300, crop: :fill %>
                  <div class="profile-info" style="height: 170px;">>
                <% end %>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="header d-flex ml-5">
    <h3>Rent a Dog</h3>
    <i class="fas fa-long-arrow-alt-right"></i>
  </div>
  <div class="row ml-5">
      <% @dogs.each do |dog| %>
      <div class="lg-4">
        <div class="card">
          <div class="profile-pic">
            <%= cl_image_tag dog.photos.first.key, height: 150, width: 298, crop: :fill%>
          </div>
          <div class="profile-info" style="height: 170px;">
            <h4>Meet <%= dog.name %></h4>
            <div class="profile-description">
              <p style="display:block;text-overflow: ellipsis;width: 250px;overflow: hidden; white-space: wrap; font-size: 10px; height: 60px; margin-top: 15px;">"<%= dog.description %>"</p>
            </div>
            <i class="fas fa-home house-logo" style="font-size: 13px;"> <span style="font-size: 10px;">  Kreuzberg, Berlin</span></i>
            <i class="fas fa-star profile-rating" style="font-size: 13px;"> 4.5</i>
            <%= link_to "See More ->", dog_path(dog), class: "see-more" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
