
<% statuses = ["pending", "approved", "denied"] %>
<div class="container mt-5">
    <div class="share-dog-intro">
    <h2>Start sharing your dog!</h2>
    <% if !@dogs[0] %>
    <p>Struggling to walk your dog 3 times per day every day? feeling guilty of leaving him at home? just find dog lovers around who would love to spend a few hours with your furry roomate</p>
    <% end %>
    </div>
  <div class="row justify-content-center">
    <div class="col-12 my-requests-content ">
    <% if @pending_requests[0] %>
      <h2 class="user-description">Pending requests to share your Dog(s)</h2>
      <% @pending_requests.each do |request| %>
        <div class="card-booking-request">
          <div>
            <% if request.dog.photos[0] %>
              <span class="dogpic"> <%= cl_image_tag request.dog.photos[0].key, class: "avatar-large", alt: "avatar" %> </span>
            <% else %>
              <span class="dogpic"> <%= image_tag("logo.png" , class: "avatar-large") %> </span>
            <% end %>
              <span> <%= request.dog.name %> </span>
            </div>
            <div class="status">
              <span>Status:</span>
              <span class="<%= statuses[request.status] %>">
                <%= statuses[request.status].upcase %>
              </span>
            </div>
            <div>
              <span> <%= link_to "Answer", booking_path(request), class: "link" %> > </span>
            </div>
          </div>  
      <% end %>
    <% end %>  

    <% if @answered_requests[0] %>
      <h2 class="user-description">Answered requests to share your Dog(s)</h2>
      <% @answered_requests.each do |request| %>
        <div class="card-booking-request">
          <div>
            <% if request.dog.photos[0] %>
              <span class="dogpic"> <%= cl_image_tag request.dog.photos[0].key, class: "avatar-large", alt: "avatar" %> </span>
            <% else %>
              <span class="dogpic"> <%= image_tag("logo.png" , class: "avatar-large") %> </span>
            <% end %>
            <span> <%= request.dog.name %> </span>
          </div>
          <div class="status">
            <span>Status:</span>
            <span class="<%= statuses[request.status] %>">
              <%= statuses[request.status].upcase %>
            </span>
          </div>
          <div>
            <span> <%= link_to "See", booking_path(request), class: "link" %> > </span>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <div class="col-6 my-requests-content">
    <h2 class="user-description">Your Dogs</h2>
    <% if @dogs[0] %>
      <% @dogs.each do |dog| %>
        <div class="lg-4">
          <div class="card">
            <div class="profile-pic">
              <% if dog.photos.first %>
                <%= cl_image_tag dog.photos.first.key, height: 150, width: 298, crop: :fill, class: "profile-pic"%>
              <% else %>
                <%= image_tag("dog_placeholder.jpg", height: 150, width: 298, class: "profile-pic")  %>
              <% end %>
            </div>
            <div class="profile-info" style="height: 170px;">
              <h4>Meet <%= dog.name %></h4>
              <div class="profile-description">
                <p style="display:block;text-overflow: ellipsis;width: 250px;overflow: hidden; white-space: wrap; font-size: 10px; height: 60px; margin-top: 15px;">"<%= dog.description %>"</p>
              </div>
              <i class="fas fa-home house-logo" style="font-size: 13px;"> <span style="font-size: 10px;">  Kreuzberg, Berlin</span></i>
              <i class="fas fa-star profile-rating" style="font-size: 13px;"> 4.5</i>
              <strong><%= link_to "See More", dog_path(dog), class: "see-more" %></strong>
            </div>
          </div>
        </div>
    <% end %>
  <% else %>
        <div>
      <p class="message" id="no-dog-msg" >You didn't add a dog yet</p>
      </div>
    <div class="mt-5">
      <%= image_tag("no_dogs.jpg", class: "no-dogs")  %>
      
    </div>
  <% end %>
</div>

  <div class="col-6 my-requests-content">
    <h2 class="user-description">Add a Dog to Share</h2>
    <%= simple_form_for(@dog) do |f| %>
      <%= f.input :name %>
      <%= f.input :breed  %>
      <%= f.input :age, :collection => 0..20 , :prompt => "Dog's age in year" %>
      <%= f.input :description, as: :text %>
      <%= f.input :address  %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

