<div class="container-show">
  <div class="dog-header justify-content-between">
    <h1 style="padding-left: 10px">Hi friend, I'm <%= @dog.name %></h1>
    <div class="dog-header-symbols d-flex justify-content-between" style="padding: 0px 10px; margin-bottom: 20px;">
      <div class="show-rating">
        <i class="far fa-star">
          <% if @reviews[0] %>
            <% sum = 0 %>
            <% @reviews.each do |review| %>
              <% sum += review.rating %>
            <% end %>
            <span><strong> <%= average = (sum / @reviews.count.to_f).round(1) %> </strong></span> ·
            <a href="#review-area" class="start-info" style="color: #0E0000"><%= @reviews.count %> reviews</a> · <span class="start-info"><%= @dog.address %></span></i>
          <% else %>
            <span>No reviews yet</span> · <span class="start-info"><%= @dog.address %></span></i>
          <% end %>
      </div>
      <div>
        <a href=""><i class="far fa-share-square share small-symbols">  Share</i></a>
        <a href=""><i class="far fa-heart save small-symbols">  Save</i></a>
      </div>
    </div>
  </div>
  <div class="dog-images d-flex">
    <div class="big-dog-image">
          <% if @dog.photos.first %>
            <%= cl_image_tag @dog.photos[0].key, height: 410, width: 800, crop: :fill, class: "big-pic"%>
          <% else %>
            <%= image_tag("dog_placeholder.jpg", height: 410, width: 800, class: "big-pic")  %>
          <% end %>
    </div>
    <div class="small-dog-images d-flex flex-column">
          <% if @dog.photos[1] %>
            <%= cl_image_tag @dog.photos[1].key, height: 200, width: 420, crop: :fill, class: "upper-small-dog-image" %>
          <% else %>
            <%= image_tag("dog_placeholder.jpg", height: 200, width: 420, class: "upper-small-dog-image")  %>
          <% end %>
          <% if @dog.photos[2] %>
            <%= cl_image_tag @dog.photos[2].key, height: 200, width: 420, crop: :fill, class: "lower-small-dog-image" %>
          <% else %>
            <%= image_tag("dog_placeholder.jpg", height: 200, width: 420, class: "lower-small-dog-image")  %>
          <% end %>
    </div>
  </div>
  <div class="main-content-show d-flex justify-content-between" style="height: 1000px;">
    <div class="row">
      <div class="col-8">
        <div class="dog-info-holder" style="width:760px;">
          <div class="dog-show-info">
            <% user = @dog.user.name %>
            <% description = ["A beautiful dog hosted by #{user}", "#{user} offers unforgettable time with his dog", "Dont work, go for a walk"] %>
            <div class="dog-show-info-header d-flex justify-content-between">
              <h2 class="user-description"> <%= description.sample %></h2>
              <div class="avatar-user">
                <% if @dog.user.profile_pic %>
                  <%= cl_image_tag @dog.user.profile_pic.key, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar" %>
                <% else %>
                  <%= image_tag("man.png", size:"40", class: "avatar")  %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="covid-restrictions">
            <h4>Local covid restrictions</h4>
            <p>Please review government restrictions on meetups in this area due to COVID-19</p>
            <a href="">Learn more</a>
          </div>
          <div class="individual-dog-info">
            <p><i class="fas fa-user"></i> Owner: <%= @dog.user.name %></p>
            <p><i class="fas fa-info"></i> Name: <%= @dog.name %></p>
            <p><i class="fas fa-dog"></i> Breed: <%= @dog.breed %></p>
            <p><i class="fas fa-baby-carriage"></i> Age: <%= @dog.age %></p>
            <p><i class="fas fa-file-alt"></i> Description: <br> <p class="dog-description"><%= @dog.description %></p></p>

            <div id="map1" style="width: 400px; height: 180px;" data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

          </div>
          <div id="review-area" class="review-section">
            <h2 class="user-description">Reviews <small>(<%= @reviews.count %>)</small></h2>
            <% if @reviews[0] %>
              <% @reviews.reverse.each do |review| %>
                <p class="pt-2 mb-1"> <%= review.booking.user.name %> </p>
                <% review.rating.times do %>
                  <i class="fas fa-star star-yellow"></i>
                <% end %>
                <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
                <p> <%= review.comment %> </p>
              <% end %>
            <% else %>
              <span>No reviews have been added yet<span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-4">
         <div class="request-booking d-flex flex-column align-items-center" style="width: 400px; height: 400px; margin-right: 20px; margin-top: 40px;">
          <div class="form-box" style="width: 90%; margin-top: 20px;">
            <h4 class="request-form-header" style="margin-bottom: 20px;">Request time with <%= @dog.name %>!</h4>
            <%= simple_form_for [@dog, @booking] do |f| %>
              <%= f.input :pickup_time, as: :date, label: "Choose pickup day" %>
              <%= f.input :giveback_time, as: :date, label: "Choose planned return day" %>
              <%= f.input :activity, collection: ['Walk in the park', 'Go on a date', 'Going jogging', 'Other'] %>
              <%= f.submit "Make request", class: "btn btn-primary submit-booking" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

