
<h1>Ignore</h1>
<div class="container-show">
  <div class="dog-header justify-content-between">
    <h1 style="padding-left: 10px;">Hi friend, I'm <%= @dog.name %></h1>
    <div class="dog-header-symbols d-flex justify-content-between" style="padding: 0px 10px; margin-bottom: 20px;">
      <div class="show-rating">
        <i class="far fa-star">    4.5 <span class="start-info">(7 reviews)</span> · <span class="start-info">Kreuzberg, Berlin</span></i>
      </div>
      <div>
        <a href=""><i class="far fa-share-square share small-symbols">  Share</i></a>
        <a href=""><i class="far fa-heart save small-symbols">  Save</i></a>
      </div>
    </div>
  </div>
  <div class="dog-images d-flex">
    <div class="big-dog-image">
      <%= cl_image_tag @dog.photos[0].key, height: 410, width: 800, crop: :fill, class: "big-pic"%>
    </div>
    <div class="small-dog-images d-flex flex-column">
      <%= cl_image_tag @dog.photos[1].key, height: 200, width: 420, crop: :fill, class: "upper-small-dog-image" %>
      <%= cl_image_tag @dog.photos[2].key, height: 200, width: 420, crop: :fill, class: "lower-small-dog-image" %>
    </div>
  </div>
  <div class="main-content-show d-flex justify-content-between" style="height: 1000px;">
    <div class="row">
      <div class="col-8">
        <div class="dog-info-holder" style="width:760px;">
          <div class="dog-show-info">
            <% description = ["A beautiful dog hosted by USER", "USER offers unforgettable time with his dog", "Dont work, go for a walk"] %>
            <div class="dog-show-info-header d-flex justify-content-between">
              <h2 class="user-description"> <%= description.sample %></h2>
              <div class="avatar-user"></div>
            </div>
          </div>
          <div class="covid-restrictions">
            <h4>Local covid restrictions</h4>
            <p>Please review government restrictions on meetups in this area due to COVID-19</p>
            <a href="">Learn more</a>
          </div>
          <div class="individual-dog-info">
            <p><i class="fas fa-user"></i> Owner: <%= @dog.user.name %></p>
            <p><i class="fas fa-info"></i> Name: <%= @dog.name %></p>
            <p><i class="fas fa-dog"></i> Breed: <%= @dog.breed %></p>
            <p><i class="fas fa-baby-carriage"></i> Age: <%= @dog.age %></p>
            <p><i class="fas fa-file-alt"></i> Description: <br> <p class="dog-description"><%= @dog.description %></p></p>
            <%= cl_image_tag @dog.photos[0].key, height: 150, width: 320, crop: :fill, class: "single-info-pic" %>
          </div>
          <div class="review-section">
            <h2 class="user-description">Reviews</h2>
          </div>
        </div>
      </div>
      <div class="col-4">
         <div class="request-booking d-flex flex-column align-items-center" style="width: 400px; height: 400px; margin-right: 20px; margin-top: 40px;">
          <div class="form-box" style="width: 90%; margin-top: 20px;">
            <h4 class="request-form-header" style="margin-bottom: 20px;">Request time with <%= @dog.name %>!</h4>
            <%= simple_form_for [@dog, @booking] do |f| %>
              <%= f.input :pickup_time, as: :date, label: "Choose pickup day" %>
              <%= f.input :giveback_time, as: :date, label: "Choose planned return day" %>
              <%= f.input :activity, collection: ['Walk in the park', 'Go on a date', 'Going jogging', 'Other'] %>
              <%= f.submit "Make request", class: "btn btn-primary submit-booking" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

