<% statuses = ["pending", "approved", "denied"] %>

<div class="container-booking">

  <div class="heading">
    <h3>Your Requests </h3>
  </div>

  <div>
    <% @bookings.reverse.each do |booking| %>
      <div class="card-booking">
        <div>
          <span class="dogpic"> <%= cl_image_tag booking.dog.photos[0].key, class: "avatar-large", alt: "avatar" %> </span>
          <span> <%= link_to booking.dog.name, dog_path(booking.dog) %> </span>
        </div>
        <div class="status">
          <span>Status:</span>
          <span class="<%= statuses[booking.status] %>">
            <%= statuses[booking.status].upcase %>
          </span>
        </div>
        <div>
          <span> <%= link_to "More", booking_path(booking), class: "link" %> > </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
