<% statuses = ["pending", "approved", "denied"] %>

<div class="container-booking-index mt-5">

  <div class="heading mt-5">
    <h3>Your Requests </h3>
  </div>
<% if !@bookings %>
  <div>
    <% @bookings.reverse.each do |booking| %>
      <div class="card-booking">
        <div>
        <% if booking.dog.photos[0] %>
          <span class="dogpic"> <%= cl_image_tag booking.dog.photos[0].key, class: "avatar-large", alt: "avatar" %> </span>
          <span> <%= link_to booking.dog.name, dog_path(booking.dog) %> </span>
        <% end %>
        </div>
        <div class="status">
          <span>Status:</span>
          <span class="<%= statuses[booking.status] %>">
            <%= statuses[booking.status].upcase %>
          </span>
        </div>
        <div>
          <span> <%= link_to "More", booking_path(booking), class: "link" %> > </span>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
  <div class="heading">
      <div class="no-request-yet">
        <%= image_tag("no_dogs.jpg", class: "no-dogs")  %>
        <p class="message mt-3">You haven't made a request yet. See all available dogs, we surely have the perfect new furry friend for you!</p>
        <%= link_to "See All Dogs", dogs_path, class: "btn btn-primary" %>
      </div>
  </div>
  <% end %>
</div>
