<% statuses = ["pending", "approved", "denied"] %>
<% status_icon = ["fa-hourglass-start", "fa-thumbs-up", "fa-thumbs-down"] %>

<div class="banner mt-5 p-5" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @booking.dog.photos.first ? @booking.dog.photos.first.key : "dog_placeholder_owieup", crop: :fill %>);background-size: 100%; background-repeat: no-repeat;">
  <div class="container mt-5">
    <% if @booking.dog.user == current_user %>
      <h2><span style="opacity: 0.8; font-style:italic; font-size:36px "><%= @booking.user.name %> wants to:</span></h2>
    <% end %>
    <h2><%= @booking.activity.capitalize %> with <strong style="color:#17BFAB"><%= @booking.dog.name %></strong></h2>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-between">
    <div>
      <% if @booking.user == current_user %>
        <div class="col-sm-12 col-lg-6">
          <div class="owner-reply">
            <i class="fas <%= status_icon[@booking.status] %> icon-status mt-1 mr-3 <%= statuses[@booking.status] %>"></i>
            <div>
              <h5>Status:</h5>
              <p class=<%= statuses[@booking.status] %> ><%= statuses[@booking.status].upcase %></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-12 col-lg-6">
          <div class="owner-reply">
            <% if @booking.dog.user.profile_pic %>
              <%= cl_image_tag @booking.dog.user.profile_pic.key, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar mt-1 mr-3" %>
            <% else %>
              <%= image_tag("man.png", size:"40", class: "avatar mt-1 mr-3")  %>
            <% end %>
            <div>
              <h5>Reply from <b><%= @booking.dog.user.name %></b>:</h5>
              <p class="message" ><%= @booking.message ? @booking.message : "The owner hasn't left a reply yet" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h5 class="mt-3 mb-3">Request Details:</h5>
  <div class="row justify-content-between">
    <div class="col-12 col-lg-8">
      <div class="request-card">
        <h5><%= image_tag("pickup.png", size: "18") %> Pick-up</h5>
        <p><i class="fas fa-clock icon-b"></i>  <%= @booking.pickup_time.strftime("%A %d, %B: %H:%M %Z") %></p>
        <p><i class="fas fa-thumbtack icon-b"></i>  <%= @booking.pickup_location %></p>
      </div>
      <div class="request-card">
        <h5><%= image_tag("giveback.png", size: "18") %> Give Back</h5>
        <p><i class="fas fa-clock icon-b"></i>  <%= @booking.giveback_time.strftime("%A %d, %B: %H:%M %Z")  %></p>
        <p><i class="fas fa-thumbtack icon-b"></i>  <%= @booking.giveback_location %></p>
      </div>
    </div>

  <!-- show the form to submit a review
   -->
    <div class="col-12 col-lg-4">
      <div class="review-card">
        <% if @booking.status == 1  && @booking.user == current_user%>
            <% if @review %>
              <h5 class="mb-4">Add your review</h5>
              <%= simple_form_for [@booking, @review] do |f| %>
                <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
                <%= f.input :comment, placeholder: 'Add your review here...' %>
                <%= f.submit class: "btn btn-primary btn-block mt-5" %>
              <% end %>
            <% else %>
              <div class="px-3">
                <p class="review-message pt-3"><strong>Your review:</strong></p>
                <% @booking.review.rating.times do %>
                  <i class="fas fa-star star-yellow pb-3"></i>
                <% end %>
                <small><em class="text-muted"><%= distance_of_time_in_words_to_now(@booking.review.created_at) %> ago</em></small>
                <p class="review-comment"> <%= @booking.review.comment %> </p>
              </div>
            <% end %>
        <% elsif @booking.dog.user == current_user %>
              <h5>Answer the request</h5>
              <p>Leave a nice message to explain why you accept or deny the offer</p>
            <%= simple_form_for(@booking) do |f| %>
              <%= f.input :status, :collection => statuses, selected: statuses[@booking.status] %>
              <%= f.input :message, as: :text  %>
              <%= f.submit "Save", class: "btn btn-primary" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


