<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <div class="nav-item">
          <div class="nav-3items">
            <span> <%= link_to "Dogs", dogs_path, class: "item" %> </span>
            <span> <%= link_to "My requests", bookings_path, class: "item"  %> </span>
            <span> <%= link_to "Share my Dog", root_path, class: "new-dog btn btn-primary" %> </span>
          </div>
          <div class="nav-signout">
            <span> <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "item" %> </span>
              <% if current_user.profile_pic %>
                  <span> <%= cl_image_tag current_user.profile_pic.key, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar" %> </span>
                <% else %>
                  <%= image_tag("man.png", size:"40", class: "avatar")  %>
                <% end %>
            
          </div>
        </div>
      <% else %>
        <div class="nav-item2">
          <span> <%= link_to "Sign up", new_user_registration_path, class: "item" %></span>
          <span> <%= link_to "Log in", new_user_session_path, class: "item" %> </span>
        </div>
      <% end %>
    </div>
  </div>

</div>

Dog.all.each { |my_dog| my_dog.user = User.last }